<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroCare</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background-image: url('https://media.istockphoto.com/id/1349772438/pt/foto/thoroughbred-horses-grazing-at-sunset-in-a-field.jpg?s=612x612&w=0&k=20&c=vJlsYPx9Cqx8ga9bru4Lo1AiS5MObYdoUbN9BlhfNEg=');
            background-size: cover;
        }
    </style>
</head>
<body class="text-emerald-200 flex items-center justify-center min-h-screen px-4">
<div class="bg-emerald-800 bg-opacity-90 rounded-lg shadow-lg p-8 w-full max-w-md">
    <h1 class="text-4xl font-bold mb-8 text-emerald-300 text-center">Login</h1>

    <div class="w-full border-t border-gray-500 mb-6"></div>

    <div class="flex items-center justify-center mb-4">
        <a href="/oauth2/authorization/github" class="bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded-full flex items-center justify-center transition duration-200 ease-in-out shadow-lg transform hover:scale-105 w-64">
                <span class="icon mr-2">
                    <i class="fab fa-github"></i>
                </span>
            <span>Acessar com GitHub</span>
        </a>
    </div>

    <p class="text-center text-gray-300 mt-4">Entre com seu GitHub para acessar sua conta.</p>
</div>
</body>
</html>
