<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Serviços</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-emerald-900 text-white">



<nav class="bg-[#1A1A1A] p-4 shadow-lg">
    <div class="flex justify-between items-center max-w-6xl mx-auto">
        <a class="text-2xl font-bold text-white" href="/">Agrocare Tech</a>
        <div class="flex items-center space-x-4">
            <a href="/" class="flex items-center text-white hover:text-emerald-600">
                <i class="fas fa-home mr-1"></i> Home
            </a>
            <a href="/chat" class="flex items-center text-white hover:text-emerald-600">
                <i class="fas fa-comments mr-1"></i> Chat
            </a>
            <a href="/servico" class="flex items-center text-white hover:text-emerald-600">
                <i class="fas fa-history mr-1"></i> Histórico
            </a>
            <div class="navbar-end">
                <div class="buttons">
                    <a href="/logout" class="bg-transparent hover:bg-emerald-600 text-white font-semibold py-2 px-4 border border-white rounded-lg transition duration-200">
                        Log out
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="p-4">
    <h3 class="text-lg font-bold mb-2">Meus Serviços</h3>
    <h3 class="text-lg font-bold mb-2">Últimos Atendimentos</h3>
    <div>
        <div class="bg-[#2E2E2E] rounded-lg p-4 mb-4 flex items-center shadow-custom">
            <div class="bg-[#2E2E2E] rounded-full w-12 h-12 flex items-center justify-center mr-4">
                <i class="fas fa-paw"></i>
            </div>
            <div>
                <h4 class="font-bold">Consulta de bovino #123</h4>
                <p class="text-sm">10/10/2024</p>
                <p class="text-sm">Bovino apresentou sinais de febre.</p>
                <p class="text-sm">Preço: R$ 150,00</p>
            </div>
    </div>
        <div>
            <div class="bg-[#2E2E2E] rounded-lg p-4 mb-4 flex items-center shadow-custom">
                <div class="bg-[#2E2E2E] rounded-full w-12 h-12 flex items-center justify-center mr-4">
                    <i class="fas fa-paw"></i>
                </div>
                <div>
                    <h4 class="font-bold">Consulta de bovino #123</h4>
                    <p class="text-sm">10/10/2024</p>
                    <p class="text-sm">Bovino apresentou sinais de febre.</p>
                    <p class="text-sm">Preço: R$ 150,00</p>
                </div>
            </div>
</div>

</body>
</html>
