<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agrocare Tech</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        /* Personalizando a barra de rolagem */
        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #4B5563;
            border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background-color: #6B7280;
        }
        ::-webkit-scrollbar-track {
            background: #1F2937;
        }
    </style>
</head>
<body class="bg-[#1A1A1A] text-white font-poppins">
<nav class="bg-[#1A1A1A] p-4 shadow-lg">
    <div class="flex flex-wrap items-center justify-between max-w-6xl mx-auto">
        <a class="text-2xl font-bold text-white mb-2 sm:mb-0" href="/">Agrocare Tech</a>
        <div class="flex flex-wrap items-center space-x-4">
            <a href="/" class="flex items-center text-white hover:text-emerald-600 transition duration-300">
                <i class="fas fa-home mr-1"></i> Home
            </a>
            <a href="/chat" class="flex items-center text-white hover:text-emerald-600 transition duration-300">
                <i class="fas fa-comments mr-1"></i> Chat
            </a>
            <a href="/servico" class="flex items-center text-white hover:text-emerald-600 transition duration-300">
                <i class="fas fa-history mr-1"></i> Histórico
            </a>
            <div class="navbar-end">
                <div class="flex items-center">
                    <a href="/logout" class="text-white hover:text-emerald-600 transition duration-300">
                        <i class="fas fa-sign-out-alt text-xl"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="p-6 max-w-6xl mx-auto">
    <h3 class="text-lg font-bold mb-4">Veterinários Disponíveis</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <div th:each="veterinario : ${veterinarios}" class="bg-[#2E2E2E] rounded-lg p-6 text-center shadow-lg hover:shadow-2xl transition-shadow duration-300">
            <img th:src="${veterinario.avatar != null ? veterinario.avatar : 'https://avatar.iran.liara.run/public/job/doctor/male'}"
                 alt="Avatar do Veterinário ${veterinario.name != null ? veterinario.name : ''}" class="w-24 h-24 rounded-full mx-auto mb-4"/>
            <h4 th:text="${veterinario.name}" class="font-bold text-xl mb-2"></h4>
            <p class="text-sm mb-1">📞 <span th:text="${veterinario.phoneNumber}"></span></p>
            <p class="text-sm mb-1">✉️ <span th:text="${veterinario.email}"></span></p>
            <p class="text-sm mb-1">🧑‍⚕️ <span th:text="${veterinario.especializacaoVeterinario}"></span></p>
            <p class="text-sm mb-1">🆔 <span th:text="${veterinario.cmrv}"></span></p>
            <p class="text-xs text-gray-400">
                Criado em: <span th:text="${veterinario.createdAt}"></span><br>
                Atualizado em: <span th:text="${veterinario.updatedAt}"></span>
            </p>
        </div>
    </div>
</div>
</body>
</html>
